<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WowAuction.Properties.Settings.AuctionsConnectionString"
            connectionString="Data Source=TITAN\SQLEXPRESS;Initial Catalog=Auctions;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>